swarm-manager-host   = "ssh://user@host:22"
app-name             = "bitbucket-issues"
app-version          = "1.1.0"
app-host             = "host.example.com"
app-auth             = "htpasswd-formatted-record"
app-config-b64       = "base64-encoded-config"
