<!DOCTYPE html>
<html>

<head>
    <title>Issues</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-multiselect@2.1.7/dist/vue-multiselect.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/vue-multiselect@2.1.7/dist/vue-multiselect.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid mt-3" id="app">
        <h1>Issues</h1>
        <div class="header">
            <div v-if="!loading" class="count">{{ itemsToShow.length }} Issues</div>
        </div>
        <div v-if="loading">Loading...</div>
        <table v-if="!loading" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-1">
                        Flag
                    </th>
                    <th class="col-2">
                        <sorter column="repository.name" v-bind:current="sorting.sortColumn"
                            v-bind:reverse="sorting.reverseSort" @sort-by="sort">
                            Repository Name
                        </sorter>
                    </th>
                    <th class="col-2">
                        <sorter column="title" v-bind:current="sorting.sortColumn" v-bind:reverse="sorting.reverseSort"
                            @sort-by="sort">
                            Title
                        </sorter>
                    </th>
                    <th class="col-2">
                        <sorter column="priorityValue" v-bind:current="sorting.sortColumn"
                            v-bind:reverse="sorting.reverseSort" @sort-by="sort">
                            Priority
                        </sorter>
                        <div>
                            <multiselect v-model="filter.selectedPriorities" :options="data.priorities" :multiple="true"
                                :hide-selected="true" :close-on-select="false" :show-pointer="false"
                                placeholder="Pick some">
                            </multiselect>
                        </div>
                    </th>
                    <th class="col-1">
                        <sorter column="kind" v-bind:current="sorting.sortColumn" v-bind:reverse="sorting.reverseSort"
                            @sort-by="sort">
                            Kind
                        </sorter>
                    </th>
                    <th class="col-1 text-right">
                        <sorter column="created_on" v-bind:current="sorting.sortColumn"
                            v-bind:reverse="sorting.reverseSort" @sort-by="sort">
                            Created on
                        </sorter>
                    </th>

                    <th class="col-2">
                        <sorter column="assignee.display_name" v-bind:current="sorting.sortColumn"
                            v-bind:reverse="sorting.reverseSort" @sort-by="sort">
                            Assignee User Name
                        </sorter>
                        <div>
                            <multiselect v-model="filter.selectedAssignee" track-by="uuid" label="name"
                                placeholder="Select one" :options="data.assignees">
                            </multiselect>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in itemsToShow" :class="{ 'table-success': item.uuid === selectedIssueUuid }"
                    :ref="item.uuid" :id="item.uuid">
                    <td>
                        <button
                            :class="{ 'regular-issue-flag': selectedIssueUuid !== item.uuid, 'selected-issue-flag': selectedIssueUuid === item.uuid }"
                            @click="setSelectedIssue(item.uuid)" class="regular-issue-flag"></button>
                    </td>
                    <td><a :href="item.repository.links.html.href + '/issues'" target="_blank">{{
                            item.repository.name }}</a></td>
                    <td><a :href="item.links.html.href" target="_blank">{{ item.title }}</a></td>
                    <td>
                        <a @click="fetchIssues({priority: item.priority})" href="#">
                            <span v-if="item.priority == 'major'"><i class="fas fa-exclamation-circle text-danger"></i>
                                major</span>
                            <span v-if="item.priority == 'critical'"><i
                                    class="fas fa-exclamation-triangle text-warning"></i> critical</span>
                            <span v-if="item.priority == 'blocker'"><i class="fas fa-ban text-danger"></i>
                                blocker</span>
                        </a>
                    </td>
                    <td>
                        <span v-if="item.kind == 'task'"><i class="fas fa-tasks text-primary"></i> task</span>
                        <span v-if="item.kind == 'bug'"><i class="fas fa-bug text-warning"></i> bug</span>
                        <span v-if="item.kind == 'proposal'"><i class="fas fa-comment-alt text-info"></i>
                            proposal</span>
                        <span v-if="item.kind == 'enhancement'"><i class="fas fa-lightbulb text-success"></i>
                            enhancement</span>
                    </td>
                    <td class="text-right">{{ formatDate(item.created_on) }}</td>
                    <td>
                        <a href="#" v-if="item.assignee"
                            @click="onAssigneeClick({uuid: item.assignee.uuid, name: item.assignee.display_name})">
                            {{item.assignee.display_name}}
                        </a>
                        <span v-else @click="onAssigneeClick({uuid: null, name: 'N/A'})">N/A</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .count {
            font-size: 24px;
            font-weight: bold;
        }

        .filters {
            margin-left: auto;
        }

        .regular-issue-flag {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAElBMVEUAAAAUffsUfvoVffsVfvoVfvvgtL3oAAAABXRSTlMAiH+Ad0DJy9wAAABtSURBVEjH7dLBCcAgEERRISnAEtJESkgBCvbfSo4/YXD2rOzchMf3smWvjf96BC4F38fdiwUHAQEEDCAggIABBAQQMICAAgIePC0A56gWkFBAwgASClwCQEKBTQBI+JOrEWiTL1iCBAl2AUvvBVy8LcU3wZXhAAAAAElFTkSuQmCC');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            border: none;
            width: 20px;
            height: 20px;
            background-color: transparent;
            padding: 0;
        }

        .regular-issue-flag:focus {
            outline: none;
        }

        .selected-issue-flag {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO3UMQqEQBBEUQ/hHldN98waKBWYLws91UP9D5N3PdBlISIi+rvPft2ut+7n4d5vA2gxXkWPV9HjVfR4FT1eRY9X0eNV9HgVPV5Fj1clANv1de/6ubJPYBaE0p/gDAiVAFMgVAO0RxgB0BphFEBbhJEALRFGA7RDcAC0QnABtEF4j3HfYQsAAAAAAAAAAADAfYctAAAAAAAAAAAAAPcdtgAAAAAAAAAAAADcd9gCIB2AiIgm7gELJnnI1UzSCQAAAABJRU5ErkJggg==');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            border: none;
            width: 20px;
            height: 20px;
            background-color: transparent;
            padding: 0;
        }

        .selected-issue-flag:focus {
            outline: none;
        }
    </style>

    <script>
        const PRIORITIES = {
            trivial: 1,
            minor: 2,
            major: 3,
            critical: 4,
            blocker: 5
        };
        const app = new Vue({
            el: '#app',
            data: {
                data: {
                    items: [],
                    assignees: [],
                    priorities: Object.keys(PRIORITIES),
                },
                filter: {
                    selectedAssignee: null,
                    selectedPriorities: [],
                },
                sorting: {
                    sortColumn: 'created_on',
                    reverseSort: false,
                },
                selectedIssueUuid: localStorage.getItem('selectedIssue') || null,
                loading: false,
            },
            created: function () {
                this.fetchIssues();
            },
            watch: {
                loading(newVal, oldVal) {
                    if (oldVal && !newVal) {
                        this.$nextTick(() => {
                            this.scrollToElement();
                        });
                    }
                }
            },
            methods: {
                scrollToElement: function () {
                    let element = null;

                    if (this.selectedIssueUuid) {
                        element = this.$refs[this.selectedIssueUuid];
                    }

                    if (element) {
                        element[0].scrollIntoView({ behavior: 'smooth' });
                    }
                },
                fetchIssues: function (filter) {
                    this.loading = true;

                    axios.get("/api/v1/issues", { params: this.filter })
                        .then(response => {
                            this.data.items = response.data;

                            const assignees = {}

                            this.data.items.forEach(item => {
                                item.priorityValue = PRIORITIES[item.priority];

                                item.uuid = item.repository.name + item.id;

                                if (!item.assignee) {
                                    return;
                                }

                                if (item.assignee.uuid in assignees) {
                                    return;
                                }

                                assignees[item.assignee.uuid] = item.assignee.display_name;
                            });

                            for (key in assignees) {
                                this.data.assignees.push({
                                    uuid: key,
                                    name: assignees[key]
                                })
                            }

                            this.data.assignees.push({
                                uuid: null,
                                name: 'N/A'
                            });
                        })
                        .catch(error => {
                            console.log(error);
                        })
                        .finally(() => {
                            this.loading = false;
                        });
                },
                setSelectedIssue: function (uuid) {
                    if (this.selectedIssueUuid === uuid) {
                        this.selectedIssueUuid = null;
                        localStorage.removeItem('selectedIssue');
                        return;
                    }
                    this.selectedIssueUuid = uuid;
                    localStorage.setItem('selectedIssue', uuid)
                },
                formatDate: function (dateStr) {
                    const date = new Date(dateStr);
                    return date.toLocaleDateString();
                },
                sort: function (column) {
                    if (column === this.sorting.sortColumn) {
                        this.sorting.reverseSort = !this.sorting.reverseSort;
                    } else {
                        this.sorting.sortColumn = column;
                        this.sorting.reverseSort = false;
                    }
                },
                onAssigneeClick: function (assignee) {
                    this.filter.selectedAssignee = assignee;
                }
            },
            computed: {
                itemsToShow: function () {
                    let itemsToShow = this.data.items;

                    if (this.filter.selectedPriorities.length) {
                        itemsToShow = itemsToShow.filter((item) => this.filter.selectedPriorities.includes(item.priority));
                    }

                    if (this.filter.selectedAssignee) {
                        if (!this.filter.selectedAssignee.uuid) {
                            itemsToShow = itemsToShow.filter((item) => !item.assignee);
                        } else {
                            itemsToShow = itemsToShow.filter((item) => {
                                return item.assignee && item.assignee.uuid === this.filter.selectedAssignee.uuid;

                            });
                        }
                    }

                    const col = this.sorting.sortColumn;

                    const order = this.sorting.reverseSort ? -1 : 1;

                    const getValue = function (object, path) {
                        const fields = path.split('.');

                        let result = object;

                        fields.forEach((field) => {
                            if (!result) {
                                return;
                            }
                            result = result[field];
                        })

                        return result;
                    };

                    itemsToShow.sort(function (a, b) {
                        let va = getValue(a, col) || 'N/A';
                        let vb = getValue(b, col) || 'N/A';

                        if (typeof va === 'string') {
                            va = va.toLowerCase();
                            vb = vb.toLowerCase();
                        }

                        if (va < vb) {
                            return -1 * order;
                        } else if (va > vb) {
                            return 1 * order;
                        } else {
                            return 0;
                        }
                    });

                    return itemsToShow;
                }
            }
        });
        Vue.component('multiselect', window.VueMultiselect.default);
        Vue.component('sorter', {
            props: {
                column: String,
                current: String,
                reverse: Boolean
            },
            emits: ['sort-by'],
            template: `
            <span @click="$emit('sort-by', column)">
                <slot></slot>
                <span v-if="column === current" :class="['fa-solid', { 'fa-chevron-up': reverse, 'fa-chevron-down': !reverse }]"></span>
            </span>
            `,

        });
    </script>
</body>

</html>