<!DOCTYPE html>
<html>

<head>
    <title>Issues</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdnx.evotor.tech/lodash.min.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.6"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.6/dist/vue-multiselect.min.css">
</head>

<body>
    <div class="container-fluid mt-3" id="app">
        <h1>Issues</h1>
        <div class="header">
            <div class="count">{{ itemsToShow.length }} Issues</div>
        </div>
        <div v-if="loading">Loading...</div> <!-- add a loading indicator here -->
        <table v-if="!loading" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th @click="sort('repository.name')" :class="{ active: sortColumn === 'repository.name' }">
                        Repository Name
                        <span v-if="sortColumn === 'repository.name'"
                            :class="['fa-solid', { 'fa-chevron-up': reverseSort, 'fa-chevron-down': !reverseSort }]"></span>
                    </th>
                    <th @click="sort('title')" :class="{ active: sortColumn === 'title' }">
                        Title
                        <span v-if="sortColumn === 'title'"
                            :class="['fa-solid', { 'fa-chevron-up': reverseSort, 'fa-chevron-down': !reverseSort }]"></span>
                    </th>
                    <th style="width: 300px;" @click="sort('priorityValue')"
                        :class="{ active: sortColumn === 'priorityValue' }">
                        Priority <span v-if="sortColumn === 'priorityValue'"
                            :class="['fa-solid', { 'fa-chevron-up': reverseSort, 'fa-chevron-down': !reverseSort }]"></span>
                        <div>
                            <multiselect v-model="selectedPriorities" :options="priorities" :multiple="true">
                            </multiselect>
                        </div>
                    </th>
                    <th @click="sort('kind')" :class="{ active: sortColumn === 'kind' }">Kind
                        <span v-if="sortColumn === 'kind'"
                            :class="['fa-solid', { 'fa-chevron-up': reverseSort, 'fa-chevron-down': !reverseSort }]"></span>
                    </th>
                    <th @click="sort('created_on')" :class="{ active: sortColumn === 'created_on' }">Created on <span
                            v-if="sortColumn === 'created_on'"
                            :class="['fa-solid', { 'fa-chevron-up': reverseSort, 'fa-chevron-down': !reverseSort }]"></span>
                    </th>
                    <th @click="sort('assignee.display_name')"
                        :class="{ active: sortColumn === 'assignee.display_name' }">Assignee User Name
                        <span v-if="sortColumn === 'assignee.display_name'"
                            :class="['fa-solid', { 'fa-chevron-up': reverseSort, 'fa-chevron-down': !reverseSort }]"></span>
                        <div>
                            <select v-model="selectedAssignee">
                                <option value="all">not chosen</option>
                                <option v-bind:value="null">N/A</option>
                                <option v-for="(value, key) in assignees" v-bind:value="key">
                                    {{ value }}
                                </option>
                            </select>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in itemsToShow">
                    <td><a :href="item.repository.links.html.href + '/issues'" target="_blank">{{
                            item.repository.name }}</a></td>
                    <td><a :href="item.links.html.href" target="_blank">{{ item.title }}</a></td>
                    <td>
                        <a @click="fetchIssues({priority: item.priority})" href="#">
                            <span v-if="item.priority == 'major'"><i class="fas fa-exclamation-circle text-danger"></i>
                                major</span>
                            <span v-if="item.priority == 'critical'"><i
                                    class="fas fa-exclamation-triangle text-warning"></i> critical</span>
                            <span v-if="item.priority == 'blocker'"><i class="fas fa-ban text-danger"></i>
                                blocker</span>
                        </a>
                    </td>
                    <td>
                        <span v-if="item.kind == 'task'"><i class="fas fa-tasks text-primary"></i> task</span>
                        <span v-if="item.kind == 'bug'"><i class="fas fa-bug text-warning"></i> bug</span>
                        <span v-if="item.kind == 'proposal'"><i class="fas fa-comment-alt text-info"></i>
                            proposal</span>
                        <span v-if="item.kind == 'enhancement'"><i class="fas fa-lightbulb text-success"></i>
                            enhancement</span>
                    </td>
                    <td>{{ formatDate(item.created_on) }}</td>
                    <td><a v-if="item.assignee" @click="fetchIssues({assignee: item.assignee.uuid})" href="#">
                            {{ item.assignee.display_name }}
                        </a><span v-else>N/A</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .count {
            font-size: 24px;
            font-weight: bold;
        }

        .filters {
            margin-left: auto;
        }
    </style>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                items: [],
                assignees: {},
                selectedAssignee: 'all',
                priorities: [],
                selectedPriorities: [],
                sortColumn: 'created_on',
                reverseSort: false,
                filter: {},
                loading: false,
            },
            created: function () {
                this.fetchIssues();
            },
            methods: {
                clearFilters: function () {
                    this.filter = {};
                    this.fetchIssues();
                },
                fetchIssues: function (filter) {
                    this.loading = true;

                    axios.get("/api/v1/issues", { params: this.filter })
                        .then(response => {
                            this.items = response.data;

                            this.items.forEach(item => {
                                let priorityValue;

                                switch (item.priority) {
                                    case 'trivial':
                                        priorityValue = 1;
                                        break;
                                    case 'minor':
                                        priorityValue = 2;
                                        break;
                                    case 'major':
                                        priorityValue = 3;
                                        break;
                                    case 'critical':
                                        priorityValue = 4;
                                        break;
                                    case 'blocker':
                                        priorityValue = 5;
                                        break;
                                }

                                item.priorityValue = priorityValue;

                                if (!item.assignee) {
                                    return;
                                }

                                if (item.assignee.uuid in this.assignees) {
                                    return;
                                }

                                this.assignees[item.assignee.uuid] = item.assignee.display_name;
                            });

                            this.itemsToShow = this.items;

                            const uniquePriorities = new Set();

                            this.items.forEach(item => {
                                uniquePriorities.add(item.priority);
                            });

                            uniquePriorities.forEach((priority) => this.priorities.push(priority));
                        })
                        .catch(error => {
                            console.log(error);
                        })
                        .finally(() => {
                            this.loading = false;
                        });
                },
                formatDate: function (dateStr) {
                    const date = new Date(dateStr);
                    return date.toLocaleDateString() + ' ' + date.toLocaleTimeString();
                },
                sort: function (column) {
                    if (column === this.sortColumn) {
                        this.reverseSort = !this.reverseSort;
                    } else {
                        this.sortColumn = column;
                        this.reverseSort = false;
                    }
                }
            },
            computed: {
                itemsToShow: function () {
                    let itemsToShow = this.items;

                    if (this.selectedPriorities.length) {
                        itemsToShow = itemsToShow.filter((item) => this.selectedPriorities.includes(item.priority));
                    }

                    if (!this.selectedAssignee) {
                        itemsToShow = itemsToShow.filter((item) => !item.assignee);
                    }

                    if (this.selectedAssignee && this.selectedAssignee !== 'all') {
                        itemsToShow = itemsToShow.filter((item) => {
                            if (item.assignee) {
                                return item.assignee.uuid === this.selectedAssignee;
                            }
                        })
                    }

                    const col = this.sortColumn;
                    const order = this.reverseSort ? -1 : 1;

                    itemsToShow.sort(function (a, b) {
                        let va = _.get(a, col) || 'N/A';
                        let vb = _.get(b, col) || 'N/A';

                        if (typeof va === 'string') {
                            va = va.toLowerCase();
                            vb = vb.toLowerCase();
                        }

                        if (va < vb) {
                            return -1 * order;
                        } else if (va > vb) {
                            return 1 * order;
                        } else {
                            return 0;
                        }
                    });

                    return itemsToShow;
                },
                currentFilter: function () {
                    const columns = Object.keys(this.filter);
                    if (columns.length === 0) {
                        return null;
                    }

                    return `Filtered by ` + columns.join(', ');
                }
            }
        });
        Vue.component('multiselect', window.VueMultiselect.default)
    </script>
</body>

</html>